*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayishblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);
}

body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background: var(--lightgray);
}

.container {
    width: 90%;
    max-width: 300px;
    border-radius: 10px;
    margin: 60px auto 20px;
    background: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.main--img{
    width: 250px;
    border-radius: 10px;
}

.main--title{
color: var(--darkblue);
font-size: 1.3rem;
line-height: 1.5rem;
}

.main--content{
color: var(--grayishblue);
text-align: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding-bottom: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}